.bg-img1 {
    background-color: #000;
    background-size: cover;
    background-image: url("./img/4882066.jpg");
}

.bg-img2 {
    background-color: #000;
    background-size: cover;
    background-image: url("./img/7980476.jpg");
}

.bg-img3 {
    background-color: #000;
    background-size: cover;
    background-image: url("./img/cosmetics-product-advertising-stand-exhibition-wooden-podium-green-background-with-leaves-sha.jpg");
}

.container {
    height: 500px;
}
